{% extends 'form.html' %}
{% load staticfiles %}

{% block button %}
    <button id='send_verification_code' class='btn btn-primary' style="display:inline-block;">发送验证码</button>
{% endblock %}

{% block script_extends %}
    <script>
        function timer(){
            // setTimeout(alert('故事'), 3000);
            var timecount = 60;
            $("#send_verification_code").addClass('disabled');
            var interval = setInterval(function(){
                timecount -= 1;
                if(timecount>=0){
                    html = timecount+'s再次点击';
                    $("#send_verification_code").text(html);
                }else{
                    $("#send_verification_code").removeClass('disabled');
                    $("#send_verification_code").text('发送验证码');
                    console.log('done');
                    clearInterval(interval);
                }
            }, 1000);
        }

        $('#send_verification_code').click(function(){
            var email = $("#id_email").val();
            $.ajax({
                url:'{% url "send_verification_code" %}',
                type: 'GET',
                data: {
                    'email':email,
                    'send_for':'bind_email',
                },
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=='SUCCESS'){
                        timer();
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                },
            });
            return false;
        })
    </script>
{% endblock %}

